section.contents {
  background-image: url(https://cdn.pixabay.com/photo/2014/10/07/20/54/sunset-478396_960_720.jpg),
    linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  display: block;
  margin: 0 auto;
  max-width: 700px;
  padding: 43px;
  color: #fff;
  font-family: "Balsamiq Sans", cursive;
  border-radius: 4px;
}

h1 {
  height: 150px;
  margin-bottom: 0;
}
h1 .temp {
  font-size: 100px;
}
.degrees {
  font-size: 30px;
  line-height: 2.7;
  position: relative;
  bottom: 45px;
}
.font-day {
  font-size: 30px;
  color: #fff;
}

ul {
  padding: 0;
}
.list {
  list-style: none;
  font-size: 30px;
  color: #fff;
}

h2 {
  font-size: 50px;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 0;
}

.iconweather {
  display: block;
  margin: 0 auto;
  width: 110px;
}

h3 {
  font-size: 25px;
  text-align: center;
}

h3:first-letter {
  text-transform: capitalize;
}

form {
  margin: 10px auto 20px;
}

.forecast-hours {
  border: 2px solid #fff;
  border-radius: 6px;
  font-size: 19px;
  text-align: center;
  line-height: 30px;
  margin: 6px 0;
  padding: 15px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.forecast-hours:hover {
  background-color: #c02902;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 10px;
}

.weather-image {
  display: block;
  margin: 0 auto;
  width: 70px;
  padding-bottom: 15px;
}
